@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
body {
  background-color: black;
  font-family: "Ubuntu", sans-serif;
  color: white;
}

h1 {
  font-size: 5rem;
  color: orange;
  text-align: center;
}

h2 {
  color: black;
}

h3 {
  color: white;
}

.nav-list-item {
  align-self: center;
  margin-left: 2%;
  list-style: none;
  flex-direction: row;
}

a.nav-link {
  padding: 10px;
  color: black;
  text-decoration: none;
  border-radius: 10px;
  background-color: orange;
  width: 200px;
  display: block;
  text-align: center;
  margin: 2.5% 2.5%;
}
a.nav-link:hover {
  text-decoration: underline;
}

.row {
  width: 90%;
  display: block;
  min-height: 100px;
  position: relative;
  margin: 0% 5%;
}

ul.nav-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 90%;
  line-height: 30px;
  margin: 0% 2.5%;
  flex-wrap: wrap;
}

section.member-list {
  text-align: center;
  margin: 2.5% 2.5%;
  text-align: center;
}

.btn {
  background-color: orange;
  color: black;
  border-radius: 10px;
  font-size: 1.2rem;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  margin: 1%;
  min-width: 200px;
  display: block;
  width: 10%;
  min-width: 100px;
  align-self: center;
}
.btn:hover {
  text-decoration: underline;
}

section > p {
  margin: 0px 5px;
}

.fa {
  color: orange;
  font-size: 2rem;
  text-align: center;
  align-self: center;
  margin: 0px 20px;
}

.social-media {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.social-media i:hover {
  color: white;
}

div.formRow {
  display: flex;
  flex-flow: row wrap;
  margin: 10px 0px;
}

div.formRow > label {
  flex: 1 1 300px;
}

div.formRow > input, select {
  flex: 2 1 300px;
}

input[type=submit], input[type=reset] {
  flex: 1 1 200px !important;
  display: block;
  margin: 10px 60px;
  font-size: 1.1rem;
  background-color: orange;
  color: black;
  border: none;
  line-height: 25pt;
}
input[type=submit]:hover, input[type=reset]:hover {
  text-decoration: underline;
}

table {
  margin: 2.5% 2.5%;
  width: 95%;
  text-align: center;
  border: solid white 0.2rem;
  border-spacing: unset;
}

thead, tbody {
  line-height: 25pt;
}

th, td {
  border: solid white 0.1rem;
  border-spacing: 0 0;
  column-span: 1;
  vertical-align: middle;
}

h3 {
  color: orange;
  text-align: center;
  margin-bottom: 20px;
}