
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
//Variables

//Theme colors 
$primary: orange;
$secondary: white;
$tertiary:black;


body{
    background-color: $secondary;
    font-family: 'Ubuntu', sans-serif;
}

h1{
    font-size: large;
    color: $primary;
}