
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
//Variables

//Theme colors 
$primary: orange;
$secondary: white;
$tertiary:black;


body{
    background-color: $tertiary;
    font-family: 'Ubuntu', sans-serif;
    color: $secondary;
}

h1{
    font-size: 5rem;
    color: $primary;
    text-align: center;
}

h2 {
    color: $primary;
}

h3 {
    color: $secondary;
}

blockquote::before{
    content: open-quote;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.6rem;
    font-weight: bold;
 }
blockquote::after{
    content: close-quote;
    font-size: 1.6rem;
    font-weight: bold;
 }

.nav-list-item{
align-self: center;
margin-left: 2%;
list-style: none;
flex-direction: row;
}

a.nav-link {
    padding: 10px;
    color: $tertiary;
    text-decoration: none;
    border-radius: 10px;
    background-color: $primary;
    width: 200px;
    display: block;
    text-align: center;
    margin: 2.5% 2.5%;
    &:hover{
        text-decoration: underline;
    }
}

.row {
    width: 90%;
    display: block;
    min-height:100px;
    position: relative;
    margin: 0% 5%;
}

ul.nav-list{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
    line-height: 30px;
    margin: 0% 2.5%;
    flex-wrap: wrap;
}

section.member-list {
    text-align: center;
    margin: 2.5% 2.5%;
    text-align: center;
}

.btn{
    background-color: $primary;
    color: $tertiary;
    border-radius: 10px;
    font-size: 1.2rem;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    margin: 1%;
    min-width: 200px;
    display: block;
    width: 10%;
    min-width: 100px;
    align-self: center;
    &:hover {
        text-decoration: underline;
    }
}

section > p {
    margin: 0px 5px;
}
.fa {
    color: $primary;
    font-size: 2rem;
    text-align: center;
    align-self: center;
    margin: 0px 20px;
}

.social-media {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
     & i:hover {
        color: $secondary;
     }
}

div.formRow{
    display: flex;
    flex-flow: row wrap;
    margin: 10px 0px;
 }
 
 div.formRow > label {
    flex: 2 1 45%;
 }

 div.formRow >input,select {
     flex: 2 1 45%;
 }
 input[type="submit"],input[type="reset"] {
     flex: 1 1 200px !important; 
     display: block;
     margin: 10px 60px ;
     font-size: 1.1rem;
     background-color: $primary;
     color: $tertiary;
     &:hover{
         text-decoration: underline;
     }
     border: none;

     line-height: 25pt;
 }

 table {
     margin: 2.5% 2.5%;
     width: 95%;
     text-align: center;
     border: solid $secondary 0.2rem;
     border-spacing: unset;
 }
 thead, tbody {
     line-height: 25pt;
 }

 th,td {
     border: solid $secondary 0.1rem;
     border-spacing: 0 0;
     column-span: 1;
     vertical-align: middle;
 }

 h3 {
     color: $primary;
     text-align: center;
     margin-bottom: 20px;
 }

 h3.video-title {
     font-size: 3rem;
 }

 .video-wrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9, for an aspect ratio of 1:1 change to this value to 100% */ 
    }

iframe {
    position: absolute;
    /*! top: 20; */
    left: 0;
    width: 50%;
    height: 50%;
    margin: 0% 25%;
    }


p.car-class-heading{
    display: block;
    width: 100%;
}

img.game-img {
    width: 100%;
}

@media screen and (min-width:1200px) {
    ul.nav-list {
        max-width: 80%;
        margin-left: 10%;
    }
}

@media screen and (max-width: 720px) {
    ul.nav-list {
        margin: 5%;
    }
}

@media print {

    a{
        color: $tertiary;
        text-decoration: none;
     }
     
     a::after{
        content: " (" attr(href) ") ";
        font-weight: bold;
        word-wrap: break-word;
     }
     
}
